.text-animate {
  display: inline-block;
  min-width: 12px;
}

.text-animate-hover {
  min-width: 12px;
  display: inline-block;
  animation-fill-mode: both;
}

.text-animate-hover:hover {
  animation: rubberBand 1s;
  color: var(--color-bg-variant);
}


