



.header__container {
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;

  text-align: center;
  position: relative;
  color: var(--color-secondary);
}


/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
}

/* Header Socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  /*bottom: 3rem;*/
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 5rem;
  background: var(--color-secondary);
}

/* Image 

.header__foto {
  background: linear-gradient(var(--color-primary), transparent);
  width: 9rem;
  margin: 3rem auto;
}*/

/* Scroll Down */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ===== Medie Queries ===== */ 

@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}

  /* ===== Medie Queries ===== */ 

@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}