@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #02132c;
  --color-bg-secondary: #112240;
  --color-white: #e6f1ff;
  --color-grey: #8892b0;
  --light-grey: #a8b2d1;
  --lightest-grey: #ccd6f6;
  --color-bg-variant: #3bbfc3;
  --color-bg-hover:  #21888b ;

  --transition: all 800ms ease;

  --container-width-xl: 50%;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
}

/* ===== General Styles =====*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  color: var(--lightest-grey);
}

.grids {
  min-height: 100vh;
  display: grid; 
  justify-items: center;
  align-content: center;
}

#portfolio {
  padding: 8rem 0;
}

#contact {
  padding: 2rem 0;
}

section > div > h2,
section > div > h5 {
  text-align: center;
  color: var(--color-bg-variant);
}

section > div > h2 {
  color: var(--light-grey);
  margin-bottom: 3rem;
}

a {
  color: var(--color-secondary);
  transition: var(--transition);
  font-size: 16px;
}

a:hover {
  color: var(--color-bg-variant);
}

.btn {
  max-width: max-content;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transform: var(--transition);

}


.btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  transform: translateY(-0.2rem);
}

.btn-primary {
  background-color: var(--color-bg-secondary);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-white);
  color: var(--color-bg);
}

.btn-blue {
  background-color: transparent;
  color: var(--color-bg-variant);
  border: 1px solid var(--color-bg-variant);
  box-shadow: none;
  padding: 1rem;
}

.btn-blue:hover {
  background-color: var(--color-bg-variant);
  
}



img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===== Medie Queries ===== */ 

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  .grids {
    min-height: 100vh;
  }
  
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .btn {
    font-size: 12px;
  }

  #about {
    padding: 8rem 0;
  }
  
  #contact {
    padding: 8rem 0;
  }
}

