@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
 /* --color-bg: #1f3a6f;
  --color-bg-variant: #1c587b;
  --color-bg-hover: #053550;

  --color-primary: #988d98;
  --color-secondary: #575257;
  --color-btn: #e6d5e6;
  --color-btn-secondary: #CBBACC;
  --color-primary-variant: #1f3a6f;
  --color-white: #fff;
  --color-light: rgba (255, 255, 255, 0.6);*/

  --color-bg: #1f3a6f;
  --color-bg-variant: #1c587b;
  --color-bg-hover: #053550;

  --color-primary: #ffffff;
  --color-secondary: #515151;
  --color-btn: #f9f9f9;
  --color-btn-secondary: #d8d8d8;
  --color-primary-variant: #1f3a6f;
  --color-white: #fff;
  --color-light: rgba (255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-xl: 50%;
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}


body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);
  background-image: linear-gradient(-225deg, #ffffff 0%, #3b7193 100%);
  color: var(--color-white);
  line-height: 1.7;
}

/* ===== General Styles =====*/

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  color: var(--color-secondary);
}


.grids {
  min-height: 100vh;
  display: grid; 
  justify-items: center;
  align-content: center;
}


section > div > h2,
section > div > h5 {
  text-align: center;
  color: var(--color-light);
}

section > div > h2 {
  color: var(--color-secondary);
  margin-bottom: 1rem;
}



.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-secondary);
  transition: var(--transition);
  font-size: 16px;
}

a:hover {
  color: var(--color-white);
}

.btn {
  max-width: max-content;
  text-align: center;
  width: 100%;
  display: inline-block;
  color: var(--color-secondary);
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  transform: var(--transition);

}


.btn:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
  border-color: transparent;
  transform: translateY(-0.2rem);
}

.btn-primary {
  background-color: var(--color-secondary);
  color: var(--color-btn);

}

.btn-secondary {
  background-color: var(--color-btn-secondary);
  color: var(--color-secondary);
}

.btn-lg {
  box-shadow: 5px 5px 5px rgb(147, 147, 147);
  padding: 0.5rem 1rem;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===== Medie Queries ===== */ 

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  .btn {
    font-size: 12px;
  }
}

