@import url('https://fonts.googleapis.com/css2?family=Murecho&display=swap');

nav {
  font-family: 'Murecho', sans-serif;
  width: 100%;
  position: fixed;
  background: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  height: 11vh;
  z-index: 1;
}

nav a {
  color: var(--color-lightest-grey);
  transition: var(--transition);
  font-size: 18px;
  letter-spacing: 2px;
}

.logo {
  margin: 1rem 1rem 1rem 0;
  max-width: 70px;
  width: 100%;
}

.nav-links {
  margin: auto 0;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
}

.nav__links a:focus{
  color: var(--color-bg-variant);
}


.nav__item {
  margin: auto 0;
}

.nav__toggler {
  display: none;
  cursor: pointer;
}

.nav__toggler div {
  margin: 0.4rem;
  width: 2.5rem;
  height: 0.2rem;
  background-color: var(--color-white);
  transition: 0.4s ease-in;
}

/* Header Socials */

.nav__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: fixed;
  left: 5rem;
  bottom: 3rem;
}

.nav__socials::after {
  content: '';
  width: 1px;
  height: 5rem;
  background: var(--color-grey);
}

.nav__socials a:hover {
  color: var(--color-bg-variant);
}

@media screen and (max-width: 768px ) {

  .nav__socials {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    padding: 0 1rem;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    top: 11vh;
    height: 89vh;
    width: 70%;
    z-index: 1;
    background-color: var(--color-bg-secondary);
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

/* Active Class */
 .nav__active {
  transform: translateX(0%);
  }
  
  .nav__toggler {
    display: block;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}